        * {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
        }
        
        body {
            background-color: rgb(253, 155, 172);
            margin: 15% 15%;
        }
        
        header {
            border: 10px rgb(253, 155, 172) solid;
            background-image: url(../img/food-2589686_1920.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 80%;
            height: 32%;
            position: fixed;
            top: 0%;
            left: 10%;
            right: 10%;
        }
        
        #header-img {
            position: relative;
            border-radius: 50%;
            margin: .3em;
            width: 5em;
            height: 5em;
            float: left;
        }
        
        nav {
            position: relative;
            float: right;
            padding: 7px;
            margin: 10px 0px;
        }
        
        a {
            position: relative;
            padding: 10px;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-radius: 50%;
            background-color: rgb(250, 144, 162);
            margin: 0px 3px;
        }
        
        #submit:hover,
        a:hover {
            border: black 2px dashed;
            font-size: 110%;
        }
        
        main {
            margin-top: 25%;
        }
        
        #container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-content: center;
            margin: 0px;
        }
        
        #about {
            padding: 20px;
            margin: 0px 20px 45px;
            text-align: justify;
            font-size: 120%;
        }
        
        #video {
            padding: 20px;
            margin: 45px;
            height: auto;
            width: 50vw;
        }
        
        h2,
        h3 {
            text-align: center;
            padding: 10px;
            margin: 15px;
            font-size: 150%;
        }
        
        #wrap {
            border: 10px double white;
            padding: 50px;
            margin: 45px 5px;
        }
        
        #portifolio {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 20px 0px;
            justify-content: space-between;
        }
        
        article,
        #video {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
        }
        
        article {
            margin: 45px 20px;
            padding: 3px;
            flex: 25%;
        }
        
        .img-dec {
            width: 100%;
            height: auto;
            margin: 0px;
            border-radius: 5px;
        }
        
        #form {
            background-image: url(../img/2.jpg);
            background-size: cover;
            background-position: center;
            background-color: rgba(228, 18, 140, 0.7);
            border-radius: 10px;
            width: 100%;
            padding: 10px;
            margin: 50px 0px;
        }
        
        #form-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        
        #contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin: 10px 20px;
        }
        
        .row {
            font-weight: bold;
            margin: 5px 10px;
            padding: 10px;
            flex: 45%;
        }
        
        input,
        textarea {
            width: 100%;
            border-radius: 5px;
            padding: 6px;
        }
        
        label {
            font-size: 25px;
        }
        
        #submit {
            background-color: rgb(250, 144, 162);
            width: 50%;
            border-radius: 10px;
            font-size: 100%;
            margin-left: 25%;
            margin-bottom: 20px;
        }
        
        footer {
            display: flex;
            flex-wrap: wrap;
            margin: 40px;
            justify-content: space-around;
        }
        
        address {
            padding: 5px;
            flex: 35%;
            justify-content: center;
            margin-left: 10px;
        }
        
        @media screen and (max-width:850px) {
            body {
                margin: 25% 0%;
            }
            #about,
            #video {
                width: 90%;
                height: auto;
                max-height: 350px;
                padding: 5px;
                margin: 25px;
                font-size: 15px;
            }
            #wrap {
                width: 95%;
                height: auto;
                margin: 0 auto;
            }
            #portifolio {
                justify-content: center;
            }
            .img-dec {
                width: 250px;
                height: auto;
                padding: 5%;
            }
            header {
                height: auto;
                width: 100%;
                left: 0%;
                right: 0%;
            }
            nav {
                padding: 0px;
                margin: 2% 0%;
            }
            a {
                padding: 5px;
                margin: 0px;
                font-size: small;
            }
            #header-img {
                width: 20%;
                height: auto;
            }
            footer {
                margin: 20px 15px;
            }
            address {
                text-align: center;
                font-size: 15px;
                flex: 100%;
                margin: 15px 0px;
            }
            #contact {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                margin: 10px 5px;
            }
            .row {
                font-weight: bold;
                margin: 10px 0px;
                flex: 100%;
            }
            input,
            textarea {
                width: 100%;
                border-radius: 5px;
                padding: 6px;
            }
            label {
                font-size: small;
            }
            h3 {
                font-size: small;
                border-radius: px;
            }
form>h3{
 background-color: rgba(255, 255, 255, 0.8);
        }        
        }
