        * {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
        }
        
        body {
            background-color: rgb(253, 155, 172);
            margin: 0 10px 20px;
        }
        
        header {
            border: 10px rgb(253, 155, 172) solid;
            background-image: url(../img/food-2589686_1920.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 99%;
            height: 260px;
            position: fixed;
            top: 0%;
            right: 0%;
            left: 0%;
        }
        
        #header-img {
            border-radius: 50%;
            margin: .5em;
            width: 6em;
            height: 6em;
            float: left;
        }
        
        nav {
            float: right;
            padding: 10px;
            margin: 15px 1px
        }
        
        a {
            padding: 1em;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-radius: 50%;
            background-color: rgb(250, 144, 162);
            margin: 0px 5px;
        }
        
        #submit:hover,
        a:hover {
            background-color: rgba(228, 18, 140, 0.7);
        }
        
        main {
            margin-top: 300px;
        }
        
          #container {
            display: flex;
            flex-wrap: wrap;
            width: 90vmax;
            justify-content: center;
            align-content: center;
            margin: 10px;
        }
        
        #about {
            flex: 30%;
            padding: 10px;
            margin: 60px 20px;
        }
        
        #video {
            flex: 60%;
            padding: 10px;
            margin: 30px 40px 30px 10px;
            max-height: 500px;
        }
        
        
        h2,
        h3 {
            text-align: center;
            padding: 15px;
            justify-items: center;
            margin: 10px;
        }
        
        #portifolio {
            display: flex;
            flex-wrap: wrap;
        }
#portifolio img {
            flex: 29%;
        }
        
        article,
        #video {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
        }
        
        article {
            margin: 40px 5px;
            padding: 5px;
        }
        
        #form {
            background-image: url(../img/2.jpg);
            background-size: cover;
            background-position: center;
            background-color: rgba(228, 18, 140, 0.7);
            border-radius: 10px;
            max-width: 90vmax;
            width: 90vw;
            padding: 20px 60px;
        }
        
        #form-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        #contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 5%;
        }
        
        .row {
            font-weight: bold;
            margin: 5px 20px;
            padding: 15px;
            flex: 45%;
        }
        
        input,
        textarea {
            width: 100%;
            border-radius: 5px;
            padding: 6px;
        }
        
        label {
            font-size: 25px;
        }
        
        #submit {
            background-color: rgb(250, 144, 162);
            width: 50%;
            border-radius: 10px;
            font-size: 100%;
            margin-left: 25%;
            margin-bottom: 20px;
        }
        
        
        
        footer {
            display: flex;
            flex-wrap: wrap;
            margin: 5%;
            justify-content: space-around;
        }
        
        address {
            margin: 5px;
            padding: 5px;
        }
        
        @media screen and (max-width:750px) {
            main {
                margin-top: 200px;
            }
            #portifolio {
                margin: auto 40px;
                align-content: center;
            }
            form {
                margin: 0px;
                padding: 0px;
                flex: 100%;
            }
               
            #contact {
                width: 600px;
            }
            footer {
                margin: 10vw 20vw;
                padding: 10vw;
                justify-content: center;
                width: 450px;
            }
            address {
                text-align: center;
                font-size: 20px;
            }
            h2,
            h3 {
                font-size: 200%;
            }
        }
