        * {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
        }
        
        body {
            background-color: rgb(253, 155, 172);
            margin: 15% 15%;
        }
        
        header {
            border: 10px rgb(253, 155, 172) solid;
            background-image: url(../img/food-2589686_1920.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 80%;
            height: 30%;
            position: fixed;
            top: 0%;
            left: 10%;
            right: 10%;
        }
        
        #header-img {
            position: relative;
            border-radius: 50%;
            margin: 1%;
            width: 12%;
            height: auto;
            float: left;
        }
        
        nav {
            position: relative;
            float: right;
            padding: 1.5%;
            margin: 1.5% auto;
        }
        
        a {
            position: relative;
            padding: 0.5em;
            margin: 0 .5em;
            width: 100%;
            height: auto;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-radius: 20px;
            background-color: rgb(250, 144, 162);
        }
        
        #submit:hover,
        a:hover {
            border: black 2px double;
            font-size: 1.7em;
        }
        
        main {
            margin-top: 25%;
        }
        
        #container {
            padding: 2%;
            margin: 10% auto;
        }
        
        #about {
            padding: 2%;
            margin: 10% auto;
            text-align: justify;
            font-size: 1.5em;
            line-height: 1.5em;
        }
        
        #video {
            padding: 10px;
            margin: 10% auto;
            height: auto;
            width: 90%;
        }
        
        h2,
        h3 {
            text-align: center;
            padding: 3%;
            margin: 2%;
            font-size: 1.5em;
        }
        
        fieldset {
            padding: 2%;
            border: 10px double white;
        }
        
        legend {
            font-size: 2.5em;
            font-weight: bold;
        }
        
        #portifolio {
            display: flex;
            flex-wrap: wrap;
            margin: 10% auto;
        }
        
        article,
        #video {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 10px;
        }
        
        article {
            margin: 2%;
            padding: 2%;
            flex: 30%;
        }
        
        .img-dec {
            width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 5px;
        }
        
        #form {
            background-image: url(../img/2.jpg);
            background-size: cover;
            background-position: center;
            background-color: rgba(228, 18, 140, 0.7);
            border-radius: 25px;
            width: 90%;
            padding: 10%;
            margin: 50px auto;
        }
        
        #form-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        
        .row {
            font-weight: bold;
            margin: auto;
            padding: 10px;
            flex: 50%;
        }
        
        textarea,
        input {
            width: 100%;
            height: auto;
            padding: 6px;
            border-radius: 1em;
        }
        
        #form>h3 {
            background-color: rgba(253, 155, 172, 0.6);
            border-radius: 5em;
        }
        
        label {
            font-size: 1.5em;
            background-color: rgba(253, 155, 172, 0.6);
            border-radius: 5em;
            line-height: 1.5em;
            padding: 2px;
        }
        
        #submit {
            background-color: rgb(250, 144, 162);
            width: 70%;
            border-radius: 5em;
            margin: auto 15%;
            font-size: 1.5em;
        }
        
        footer {
            display: flex;
            flex-wrap: wrap;
        }
        
        address {
            flex: 45%;
            text-align: center;
            justify-content: center;
            line-height: 1.5em;
            margin-right: 2%;
        }
        
        @media screen and (max-width:850px) {
            body {
                margin: 25% auto;
            }
            header {
                height: 22%;
                width: 100%;
                right: 0;
                left: 0;
            }
            .row,
            address,
            article {
                margin: 2% 10%;
                flex: 100%;
            }
            #header-img {
                margin: 1%;
                width: 15%;
            }
            nav {
                padding: 1%;
                margin: 1.5%;
            }
            a {
                padding: .2em;
                margin: 0%;
                font-size: 1em;
                font-weight: normal;
            }
            #about,
            label,
            h3,
            #submit {
                font-size: 1em;
            }
            #video {
                width: 100%;
            }
            #form {
                padding: 5%;
            }
        }
